header {
  background-color: #f6f7f5;
  text-align: center;
  padding: 10px;
}

/* style.css */
@import url('https://fonts.googleapis.com');
/*
    Change the background color of the page body.
    Change the default text color.
    STRETCH GOAL (optional):load in a font family from Google Fonts.
*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    color: darkslategrey;
  
}
/*STRETCH GOAL (optional): add a picture of yourself 
.img-center {
    text-align: center;
}*/

/*Change the font size, weight, and color of headings*/
h1, h2 {
  color: blue;
  text-align: center;
  
}

/*Transform the style of your Name at the top of the page*/
#page-title {
    font-family: "Lucida Console", monospace;
}

/*Change the alignment of the content of one of your sections*/
#about {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300;
}


/*Add spacing (padding/margin) between sections*/
div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.styled-block {
    background-color: #f0f0f0;
    border: 2px solid #333;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 80%;
}

/*Container Flex*/

.container {
    background-color: rgb(180, 231, 200);
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/*We always need a footer*/
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 8px;
}

/**/
.mainmenu {
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


/*Menu sticky*/
.sticky {
    position: sticky;
    top: 0;
}

/*STRETCH GOAL: Grid layout this week, reformat one or both of your two flexbox sections (Experience or Connect) to be a grid layout instead to give yourself practice using grid.*/
.container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.container div {
    background-color: #f1f1f1;
    text-align: center;
}

/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

/*Format Form*/
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 368px) {
    body {
        background: green;
    }
    h1, h2 {
        font-size: 40px;
        color: sienna;
    }
    p {
        font-size: 15px;
        color: black;
    }


}

@media (min-width: 700px) {
    header {
        background-color: chartreuse;
        text-align: center;
        padding: 20px;
    }

    body {
        background: pink;
    }

    h1 {
        font-size: 40px;
        color: blueviolet;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .container div {
        background-color: #f1f1f1;
        text-align: center;
    }
}

@media (min-width: 800px) {
    body {
        background: lightskyblue;
    }
    
    div {
        padding: 25px 50px;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: dodgerblue;
        padding: 10px;
    }
    .container div {
        background-color: #f1f1f1;
        border: 1px solid black;
        padding: 10px;
        font-size: 30px;
        text-align: center;
    }
    
}

/******************************* */
/*Fetch API*/
#projects ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px; /* keeps bullets visible */
}
